ul{
    list-style-type:none;
}

.ac{
    width:100px;
}

.offcanvas-body > *{
   color: white;
}

#dashboardLabel{
    color: rgb(167, 219, 240);
    margin-top:340px;
}
body{
    background-image: url('images/cool-background\ .png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

  /* Position text in the middle of the page/image */
  #dashboard{
    background-image: url("images/cool-background\ .png");
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid #0e5d8f;
  }

  #consent{
      width:15px;
      height:15px;
  }


  @media screen and (max-width: 600px) {
      *{
        font-size:12px;
        }

      #dashboard{
         width:180px;
        }
    }    
